* {
  padding: 0;
  margin: 0;
}

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* colors */
/* breakpoints */
/* Font Weight */
/* Font sizes */
/* Line height */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  line-height: 1.65;
  color: #333;
  min-width: 375px;
  max-width: 100%;
  overflow-x: hidden;
  cursor: default;
}

img {
  width: 100%;
  height: 100%;
}

picture {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraboldItalic.eot");
  src: local("Gilroy Extrabold Italic"), local("Gilroy-ExtraboldItalic"), url("../fonts/Gilroy-ExtraboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraboldItalic.woff2") format("woff2"), url("../fonts/Gilroy-ExtraboldItalic.woff") format("woff"), url("../fonts/Gilroy-ExtraboldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Black.eot");
  src: local("Gilroy Black"), local("Gilroy-Black"), url("../fonts/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Black.woff2") format("woff2"), url("../fonts/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.eot");
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("../fonts/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-MediumItalic.eot");
  src: local("Gilroy Medium Italic"), local("Gilroy-MediumItalic"), url("../fonts/Gilroy-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-MediumItalic.woff2") format("woff2"), url("../fonts/Gilroy-MediumItalic.woff") format("woff"), url("../fonts/Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-BlackItalic.eot");
  src: local("Gilroy Black Italic"), local("Gilroy-BlackItalic"), url("../fonts/Gilroy-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-BlackItalic.woff2") format("woff2"), url("../fonts/Gilroy-BlackItalic.woff") format("woff"), url("../fonts/Gilroy-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-UltraLight.eot");
  src: local("Gilroy UltraLight"), local("Gilroy-UltraLight"), url("../fonts/Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-UltraLight.woff2") format("woff2"), url("../fonts/Gilroy-UltraLight.woff") format("woff"), url("../fonts/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-RegularItalic.eot");
  src: local("Gilroy Regular Italic"), local("Gilroy-RegularItalic"), url("../fonts/Gilroy-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-RegularItalic.woff2") format("woff2"), url("../onts/Gilroy-RegularItalic.woff") format("woff"), url("../fonts/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiboldItalic.eot");
  src: local("Gilroy Semibold Italic"), local("Gilroy-SemiboldItalic"), url("../fonts/Gilroy-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiboldItalic.woff2") format("woff2"), url("../fonts/Gilroy-SemiboldItalic.woff") format("woff"), url("../fonts/Gilroy-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-HeavyItalic.eot");
  src: local("Gilroy Heavy Italic"), local("Gilroy-HeavyItalic"), url("../fonts/Gilroy-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-HeavyItalic.woff2") format("woff2"), url("../fonts/Gilroy-HeavyItalic.woff") format("woff"), url("../fonts/Gilroy-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Extrabold.eot");
  src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"), url("../fonts/Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Extrabold.woff2") format("woff2"), url("../fonts/Gilroy-Extrabold.woff") format("woff"), url("../fonts/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-BoldItalic.eot");
  src: local("Gilroy Bold Italic"), local("Gilroy-BoldItalic"), url("../fonts/Gilroy-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-BoldItalic.woff2") format("woff2"), url("../fonts/Gilroy-BoldItalic.woff") format("woff"), url("../fonts/Gilroy-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-UltraLightItalic.eot");
  src: local("Gilroy UltraLight Italic"), local("Gilroy-UltraLightItalic"), url("../fonts/Gilroy-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-UltraLightItalic.woff2") format("woff2"), url("../fonts/Gilroy-UltraLightItalic.woff") format("woff"), url("../fonts/Gilroy-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-LightItalic.eot");
  src: local("Gilroy Light Italic"), local("Gilroy-LightItalic"), url("../fonts/Gilroy-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-LightItalic.woff2") format("woff2"), url("../fonts/Gilroy-LightItalic.woff") format("woff"), url("../fonts/Gilroy-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Heavy.eot");
  src: local("Gilroy Heavy"), local("Gilroy-Heavy"), url("../fonts/Gilroy-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Heavy.woff2") format("woff2"), url("../fonts/Gilroy-Heavy.woff") format("woff"), url("../fonts/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Thin.eot");
  src: local("Gilroy Thin"), local("Gilroy-Thin"), url("../fonts/Gilroy-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Thin.woff2") format("woff2"), url("../fonts/Gilroy-Thin.woff") format("woff"), url("../fonts/Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ThinItalic.eot");
  src: local("Gilroy Thin Italic"), local("Gilroy-ThinItalic"), url("../fonts/Gilroy-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ThinItalic.woff2") format("woff2"), url("../fonts/Gilroy-ThinItalic.woff") format("woff"), url("../fonts/Gilroy-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
.header {
  width: 100%;
  height: 15vh;
  color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
@media screen and (max-width: 576px) {
  .header__item--hidden-sm {
    display: none;
  }
}
@media (max-width: 1200px) {
  .header {
    padding: 0 70px;
  }
}
@media (max-width: 992px) {
  .header {
    padding: 0 50px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 0 30px;
  }
}

.button {
  border: 1px solid #f7941e;
  border-radius: 5px;
  color: #f7941e;
  text-transform: uppercase;
  padding: 10px 28px;
  max-height: 100%;
  max-width: 100%;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .button {
    font-size: 14px;
    padding: 5px 14px;
  }
}
.button--filled {
  background-color: #f7941e;
  color: #fafafa;
}
.button--flex-start {
  align-self: flex-start;
}
.button--header {
  padding: 5px 24px;
}

.main {
  display: flex;
  background-color: #f1f1f2;
}
@media screen and (max-width: 576px) {
  .main {
    flex-wrap: wrap;
  }
}
.main__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 10%;
  gap: 8%;
}
@media screen and (max-width: 576px) {
  .main__content {
    width: 100%;
    height: 75vh;
  }
}
.main__photo {
  width: 50%;
  height: auto;
}
@media (max-width: 992px) {
  .main__photo {
    height: auto;
  }
}
@media screen and (max-width: 576px) {
  .main__photo {
    width: auto;
    align-self: center;
  }
}
.main__heading {
  font-size: 32px;
  line-height: 130%;
}
.main__heading--lg {
  font-size: 56px;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .main__heading--lg {
    font-size: 36px;
  }
}
@media (max-width: 992px) {
  .main__heading--lg {
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  .main__heading--lg {
    font-size: 30px;
  }
}
.main__text {
  font-size: 20px;
  line-height: 150%;
  font-weight: 500;
}
@media (max-width: 1200px) {
  .main__text {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .main__text {
    font-size: 14px;
  }
}

.menu {
  display: flex;
  gap: 20px;
  font-size: 18px;
  line-height: 22px;
  color: #000;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 90px 10px;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .posts {
    padding: 90px 15px;
  }
}
@media screen and (max-width: 768px) {
  .posts {
    padding: 60px 15px;
  }
}
@media screen and (max-width: 576px) {
  .posts {
    padding: 60px 30px;
  }
}
.posts__title {
  text-align: center;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  padding-bottom: 20px;
}
.posts__subtitle {
  text-align: center;
  color: #000000;
  font-size: 18px;
}
.posts__cards {
  display: flex;
  padding-top: 64px;
  height: auto;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .posts__cards {
    flex-wrap: wrap;
    width: 100%;
    gap: 50px 15%;
  }
}
@media screen and (max-width: 768px) {
  .posts__cards {
    gap: 50px 6%;
  }
}

.card {
  width: 270px;
  height: 436px;
}
.card:hover {
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
  background-color: #f1f1f2;
}
.card__media {
  height: 270px;
}
.card__content {
  height: 166px;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}
.card__title {
  flex-grow: 1;
  padding: 15px 24px;
  font-size: 20px;
  font-weight: 500;
}
.card__button {
  padding: 15px 24px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-content: center;
  background-color: #f7941e;
  height: 240px;
}
@media screen and (max-width: 768px) {
  .banner {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 320px;
  }
}
@media screen and (max-width: 576px) {
  .banner {
    height: 400px;
  }
}
.banner__text {
  grid-area: 1/1/span 2/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
}
.banner__title {
  font-size: 32px;
  line-height: 150%;
  font-weight: 800;
}
@media screen and (max-width: 768px) {
  .banner__title {
    padding-top: 9vh;
  }
}
@media screen and (max-width: 375px) {
  .banner__title {
    font-size: 28px;
  }
}
.banner__subtitle {
  font-size: 32px;
  line-height: 150%;
}
@media screen and (max-width: 375px) {
  .banner__subtitle {
    font-size: 28px;
  }
}
.banner__content {
  grid-area: 1/2/span 2/3;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2vw;
}
@media screen and (max-width: 768px) {
  .banner__content {
    grid-area: 3/1/span 2/3;
    gap: 10vw;
  }
}
@media screen and (max-width: 576px) {
  .banner__content {
    flex-direction: column;
    gap: 5vw;
  }
}
.banner__btn {
  display: flex;
  text-transform: uppercase;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 8px 24px;
  cursor: pointer;
}
@media screen and (max-width: 375px) {
  .banner__btn {
    font-size: 16px;
  }
}
.banner__btn--filled {
  color: #fafafa;
  background-color: #000000;
}

.blog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 71px;
  padding: 71px 135px 10px 135px;
  width: 100vw;
  gap: 30px;
}
@media screen and (max-width: 992px) {
  .blog {
    flex-direction: column;
    padding: 50px 80px 10px 80px;
  }
}
@media screen and (max-width: 768px) {
  .blog {
    padding: 40px 20px 10px 20px;
    justify-content: center;
  }
}
.blog__item {
  width: 45%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 48px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
}
@media screen and (max-width: 1200px) {
  .blog__item {
    padding: 3vh;
    width: 47%;
  }
}
@media screen and (max-width: 992px) {
  .blog__item {
    width: 100%;
    padding: 3vh;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.blog__item:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}
.blog__main-item {
  background-color: #231F20;
  display: flex;
  gap: 78px;
  color: #fafafa;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .blog__main-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .blog__main-item {
    padding: 3vh 3vh;
    max-width: 450px;
    flex-shrink: 1;
  }
}
.blog__content {
  padding: 63px 0 49px 0;
}
@media screen and (max-width: 1200px) {
  .blog__content {
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  .blog__content {
    gap: 2vh;
    align-items: center;
  }
}
@media screen and (max-width: 992px) {
  .blog__img {
    width: auto;
    height: auto;
  }
}
.blog__author {
  font-size: 14px;
  line-height: 150%;
}
.blog__title {
  font-size: 24px;
  line-height: 140%;
  font-weight: 700;
}
.blog__title--featured {
  font-size: 48px;
  line-height: 140%;
  width: 80%;
  padding-top: 27px;
  padding-bottom: 60px;
}
@media screen and (max-width: 1200px) {
  .blog__title--featured {
    padding: 0;
    font-size: 40px;
    width: 80%;
  }
}
@media screen and (max-width: 992px) {
  .blog__title--featured {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .blog__title--featured {
    font-size: 32px;
  }
}
@media screen and (max-width: 576px) {
  .blog__title--featured {
    font-size: 24px;
    width: auto;
  }
}
.blog__text {
  font-size: 18px;
  line-height: 140%;
  padding: 16px 0 28px 0;
}
@media screen and (max-width: 992px) {
  .blog__text {
    padding: 8px 0 14px 0;
  }
}
.blog__btn {
  cursor: pointer;
  font-size: 14px;
  line-height: 140%;
  font-weight: 500;
}
.blog__btn--featured {
  font-size: 18px;
  line-height: 150%;
}
@media screen and (max-width: 1200px) {
  .blog__btn--featured {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .blog__btn--featured {
    font-size: 14px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  gap: 9.5vh;
  padding-bottom: 5vh;
}
.footer__divider {
  width: 60vw;
  border-top: 1px solid #000000;
}
.footer__terms {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5vw;
  font-size: 14px;
}
@media screen and (max-width: 576px) {
  .footer__terms {
    flex-direction: column;
  }
}

.tabs {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 5vw;
  font-size: 14px;
  line-height: 140%;
  font-weight: 700;
  padding-top: 50px;
}
.tabs__logo {
  width: 41px;
  margin-left: 3vw;
  margin-right: 3vw;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5vw;
}/*# sourceMappingURL=index.css.map */