.card {
  width: 270px;
  height: 436px;

  &:hover {
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
		background-color: $color-main;
  }

  &__media {
		height: 270px;
  }

  &__content {
    height: 166px;
    display: flex;
    flex-direction: column;
    background-color: $color-white;
  }

  &__title {
    flex-grow: 1;
    padding: 15px 24px;
    font-size: $fs-20;
    font-weight: $fw-middle;
  }

  &__button {
    padding: 15px 24px;
    font-weight: $fw-middle;
    font-size: $fs-14;
		cursor: pointer;
  }
}
