.header {
  width: 100%;
  height: 15vh;
	color: $color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;

  &__item--hidden-sm {
    @media screen and (max-width: $breakpoint-sm) {
      display: none;
    }
  }

  @media (max-width: $breakpoint-xl) {
    padding: 0 70px;
  }
  @media (max-width: $breakpoint-lg) {
    padding: 0 50px;
  }
  @media (max-width: $breakpoint-md) {
    padding: 0 30px;
  }
}
